* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@0;1&display=swap');


// font-family: "noto-sans", sans-serif;
// font-family: "Exo 2", sans-serif;


//variables Globales
//operadores - inicio
$ancho: 720px;
$alto: 100px;
$alto2: 500px;
//fonts
$font1: "noto-sans", sans-serif;
$font2: "Exo 2", sans-serif;
$bold1: 700;
$bold2: 500;
// paleta colores
$color1: #474747;
$color2: #FFFFFF;
$color3: #6e9d2a;
$color4: #5f8726;
$color5: #70a01b;
$color6: #f0efef;
$color7: #000000;
//dimensiones
$size1: 100%;
$size2: 50%;
$size3: 20px;
$size4: 50px;

// --------------------//


//nav desktop
.navbar-custom {
    background-color: transparent;
    transition: background-color 0.3s ease;
    padding: 1rem 0;
    font-family: $font1;

    .nav-link {
        color: $color2;
        transition: color 0.3s ease;
        font-weight: 500;
        font-size: calc($size3 - 2px);
        margin: 0 0.5rem;
    }

    .separator {
        color: $color3;
        margin: 0 0.3rem;
        font-weight: bold;
    }

    .logo-black {
        display: none;
    }

    .navbar-toggler {
        border: none;
        background-color: transparent;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    &.scrolled {
        background-color: $color2;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .nav-link {
            color: $color1;
        }

        .logo-white {
            display: none;
        }

        .logo-black {
            display: inline;
        }
    }
}

//nav mobile 
/* Personalizaciones para Mobile */
@media (max-width: 768px) {
    .navbar-custom {
        .navbar-toggler {
            border: none;
            background-color: $color2;
            opacity: 0.8;
            margin-left: auto;
            justify-content: end;
    
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
            }
    
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
        
        &.scrolled {
                .nav-link {
                    color: $color2;
                }
            }
        
    }

    .navbar-collapse {
        background-color: $color7;
        opacity: 0.9;
        padding: 1rem 0;
        border-radius: 0.5rem;
        margin-top: 1rem;

        .nav-link {
            color: $color2;
            font-weight: 500;
            font-size: calc($size3 - 4px);
            margin: 0.1rem 0;
            text-align: center;
            font-family: $font1;
        }

        .separator {
            display: none; // Ocultar separador en mobile
        }
    }

    .navbar {
        justify-content: space-between;
        align-items: center;

        .navbar-brand {
            img {
                width: auto; /* Tama帽o adaptable si es necesario */
                margin-left: 0%;
                max-height: 180px;
                max-width: 250px;
            }
        }
        .navbar-toggler {
            align-self: center;
        }
    }
}




// Secci贸n 1 - inicio

/// escritorio
.carousel-caption {
    h1 {
        text-align: center;
        color: $color2;
        font-family: $font1;
        font-size: $size3;
    }
}

.carousel-caption {
    p {
        text-align: center;
        color: $color2;
        font-family: $font2;
        font-size: calc($size3 - 2px);
    }
}

/// mobile

.banner-mobile {
    position: relative;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        background-image: cover;
        background-position: center;
    }

    .mobile-caption {
        position: absolute;
        bottom: 5%; // en lugar de top:50%
        left: 50%;
        transform: translateX(-50%); // solo mover horizontal, no vertical
        color: $color2;
        text-align: center;
        font-family: $font1;
        background: rgba(0, 0, 0, 0.5); // fondo negro semitransparente
        padding: 1rem;
        border-radius: 10px;
        width: 90%;

        h1 {
            font-size: calc($size3 - 2px);
            color: $color2;
            font-family: $font1;
        }

        p {
            font-size: calc($size3 - 4px);
            color: $color2;
            font-family: $font2;
        }
    }
}









// secci贸n 2 producto

.sec2 {
    background-color: $color2;
}

// secci贸n 2 producto 2 A ISA 
.sec2A {
    padding: $size3;
}


.sec2 {
    p {
        font-family: $font2;
        color: $color1;
        text-align: center;
    }
}

// secci贸n 2 producto 2 B beneficios

.sec2 {
    h2 {
        padding-top: $size3;
        font-family: $font2;
        text-align: center;
        color: $color1;
        font-size: $size3;
    }
}

.beneficios {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid $color3 !important;

    .row {
        display: flex;
        align-items: center;
    }

    img {
        max-width: 100%;
        border-radius: 10px;
    }

    .lista-beneficios {
        list-style: none;
        padding: 0;

        li {
            font-family: $font2;
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
}

.lista-beneficios {
    h2 {
        font-family: $font1;
        padding-bottom: 10px;
        text-align: left;
        color: $color1;
    }
}


// secci贸n 2 producto 2 B funciones

.funciones {
    h3 {
        font-family: $font1;
        padding-bottom: 20px;
        color: $color3;
        font-size: calc($size4 - 25px);
    }
}

.funciones {
    h4 {
        font-family: $font2;
        color: $color1;
        font-size: $size3;
    }
}

.funciones {
    padding: $size3;

    p {
        font-family: $font2;
        color: $color1;
        text-align: left;
        font-size: calc($size3 - 2px);
    }
}



// secci贸n 3 - sello creapure
.creapure-banner {
    background-color: $color6; // gris claro
    border-top: 2px solid $color1;
    border-bottom: 2px solid $color1;
    padding: 3rem 1rem;

    .banner-header {
        display: block;
        max-width: 180px;
        margin: 0 auto 1.5rem auto;
    }

    .contenido {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;

        h3 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
            color: $color1;
            font-family: $font1;
        }

        p {
            margin-top: 0.5rem;
            font-size: 1rem;
            margin-bottom: 2rem;
            color: $color1;
            font-family: $font2;
        }

        .boton-creapure {
            background-color: $color3; // Verde claro del bot贸n
            box-shadow: none;
            padding: 0;
            font-size: 1.1rem;
            font-weight: 500;
            font-family: $font2;
            border: none;
            border-radius: 0;
            overflow: hidden;
            transition: all 0.3s ease;

            .flecha {
                background-color: $color4; // Verde oscuro para la flecha
                padding: 0.75rem 1rem;
                font-size: 1.4rem;
                font-weight: bold;
                color: $color2;
                filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3)); // sombra en la flecha
            }

            .text {
                padding: 0.75rem 1rem;
                background-color: $color3; // mismo verde que el fondo
                color: $color2;
            }

            &:hover {
                background-color: $color4; // Sombreado general en hover
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

                .text,
                .flecha {
                    background-color: $color4; // Todo el bot贸n se iguala en hover
                }
            }
        }
    }

    //  Responsive para pantallas peque帽as
    @media (max-width: 576px) {
        padding: 2rem 1rem;

        .banner-header {
            max-width: 140px;
            margin-bottom: 1rem;
        }

        .contenido {
            h3 {
                font-size: 1.2rem;
            }

            p {
                font-size: 0.95rem;
            }

            .boton-creapure {
                padding: 0.65rem 1.2rem;
                font-size: 0.95rem;
            }
        }
    }
}




// secci贸n 4 - comprar
#comprar {
    background-color: $color2;

    .titulo {
        font-size: 1.8rem;
        font-weight: 600;
        color: $color3;
        font-family: $font1;
    }

    .descripcion {
        font-size: 1.1rem;
        font-weight: 400;
        color: $color1;
        max-width: 600px;
        font-family: $font2;
    }

    .comprar-btn {
        background-color: $color3; // Verde claro del bot贸n
        box-shadow: none;
        padding: 0;
        font-size: 1.1rem;
        font-weight: 500;
        font-family: $font2;
        border: none;
        border-radius: 0;
        overflow: hidden;
        transition: all 0.3s ease;

        .flecha {
            background-color: $color4; // Verde oscuro para la flecha
            padding: 0.75rem 1rem;
            font-size: 1.4rem;
            font-weight: bold;
            color: $color2;
            filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3)); // sombra en la flecha
        }

        .text {
            padding: 0.75rem 1rem;
            background-color: $color3; // mismo verde que el fondo
            color: $color2;
        }

        &:hover {
            background-color: $color4; // Sombreado general en hover
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

            .text,
            .flecha {
                background-color: $color4; // Todo el bot贸n se iguala en hover
            }
        }
    }
}





// secci贸n 5 contacto

.sec5 {
    background-color: $color2;
    background: linear-gradient(180deg, rgb(255, 254, 254) 0%, $color6 100%);

    h4 {
        font-family: $font1;
    }
}

.sec5 {
    p {
        font-family: $font2;
    }
}

.sec5 {
    .logoisa {
        padding: 10px;
    }
}


.pack {
    animation: zoomIn 10s ease-in-out infinite;
    align-items: center;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


//** Cierre p谩gina **//
footer {
    background-color: $color6;
    color: $color7;
    text-align: center;
    padding: $size3;

    .redes a {
        letter-spacing: $size3;
        text-align: center;
        //** 20px**//
        font-size: $size3;
        text-decoration: none;
        color: $color7;

        :hover {
            color: $color1;
        }
    }
}

.logo-footer {
    padding: $size3;
}

.subir {
    width: calc($size4 - 10px);
    height: calc($size4 - 10px);
    background-color: $color1;
    text-decoration: none;
    color: $color2;
    position: fixed;
    bottom: calc($size4 - 10px);
    right: calc($size4 - 10px);
    text-align: center;
    line-height: calc($size4 - 10px);
    font-size: $size3;

    :hover {
        color: $color3;
    }
}

.cierre {
    text-align: center;
}